<div class="container">
	<h3>User Administration</h3>
	<table class='table'>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		

		<% _.each(users, function(user) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<% if (user.online) { %>
				<td><p>Online</p></td>
			<% } else { %>
				<td><p>Offline</p></td>
			<% } %>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.lastName %></td>
			<td><%= user.email %></td>
			<% if (user.admin) { %>
				<td><p>admin</p></td>
			<% } else { %>
				<td><p>Not admin</p></td>
			<% } %>	
			<td><a href="/profile/<%= user.nickName %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="/profile/<%= user.nickName %>/edit" class="btn btn-sm btn-warning">Edit</a></td>

			<td><form action="/profile/<%= user.nickName %>/delete" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
		</tr> 

		<% }) %>
	</table>
</div>
